@import "tailwindcss";

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slide-in 0.3s ease-out;
}

.wave-container {
  display: flex;
  align-items: center;
  animation: dotSlide 10s linear infinite;
  animation-delay: 3s;
  will-change: transform;
}

.wave-container > div {
  box-shadow: 0 0 10px rgba(34, 211, 238, 0.5);
}

@keyframes dotGrow {
  from {
    opacity: 0;
    transform: scaleY(0);
    visibility: visible;
  }
  to {
    opacity: 1;
    transform: scaleY(1);
    visibility: visible;
  }
}

@keyframes dotSlide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-320px);
  }
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #4e4e4e;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #7d7d7d;
}

* {
    scrollbar-color: #4e4e4e transparent;
    scrollbar-width: thin;
}
